// Colors:
$themePurpleColour: #4a154b;
$themeCreamColour: rgb(244, 237, 228);
// yellow: rgb(236, 178, 46)

// @mixin

@mixin button {
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  line-height: 1.28;
  padding: 19px 40px 20px;
  display: block;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #611f69;
  width: 100%;
}

@mixin menu-button {
  height: 45px;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  line-height: 1.28;
  margin-right: 1.25rem;
  margin-left: 0.5rem;
  display: block;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #611f69;
}

// .teams .button-white {
//   margin: 5px;
// }

// General CSS
* {
  padding: 0px;
  margin: 0px;
  font-family: "Inter", Helvetica;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  //   max-width: 100%;
  //   overflow-x: hidden;
  //   display: flex;
  //   flex-direction: column;
}

.container-hero {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 16px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.customer-video {
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  max-height: 350px !important;
}

.video {
  max-width: 100%;
  //   height: auto;
  max-height: 400px;
  //   display: inline-block;
  //   vertical-align: baseline;
  //   object-fit: contain;
  //   overflow-clip-margin: content-box;
  //   overflow: clip;
}

.arrow {
  width: 20px;
}

.button-white-menu {
  @include menu-button;
  background-color: white;
  color: $themePurpleColour;
  border: 1px solid $themePurpleColour;
}

.button-purple-menu {
  @include menu-button;
  background-color: $themePurpleColour;
  color: white;
  border: 1px solid white;
}

.button-white {
  @include button;
  background-color: white;
  color: $themePurpleColour;
  border: 1px solid $themePurpleColour;
}

.button-purple {
  @include button;
  background-color: $themePurpleColour;
  color: white;
  border: 1px solid white;
}

// Google Button

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

.google-btn {
  width: 100%;
  height: 50px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  .google-icon-wrapper {
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
    width: 40px;
    height: 41px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    text-align: center;
    line-height: 50px;
    margin: 11px 11px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}

// Header

.header {
  //   position: relative;
  //   width: 100%;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  padding: 15px 25px;
  transition: 0.3s;
  background-color: $themePurpleColour;
}

.logo-white {
  //   display: none;
}

.logo a {
  display: block;
}
.logo-white a img {
  display: inline-block;
  height: 60px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Menu

.menu {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: -100%;
  background: white;
  width: 100%;
  height: 100%;
  padding: 25px;
  transition: right 0.3s ease;
  z-index: 3;
}

.menu li {
  list-style: none;
}

.menu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: 550;
  line-height: 1;
  transition: 0.3s;
}
.submenu li a:hover {
  text-decoration: underline;
}

.hamburger {
  position: relative;
  width: 20px;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 4;
  //   transition: 0.3s;
  transition: background-color 0.3s, transform 0.3s;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 3px;
  right: 0;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger:before {
  top: -8px;
  width: 20px;
}
.hamburger:after {
  top: 8px;
  width: 20px;
}

.toggle-menu {
  position: absolute;
  right: 20px;
  width: 30px;
  height: 100%;
  //   z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.search-icon {
  position: absolute;
  right: 45px;
  margin: 20px;
  height: 20px;
}

.navigation input:checked ~ .hamburger {
  background: transparent;
}

.navigation input:checked ~ .hamburger::before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
  background: black;
}
.navigation input:checked ~ .hamburger::after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
  background: black;
}

.navigation input:checked ~ .menu {
  right: 0;
}

.hamburger,
.toggle-menu {
  display: block;
}

.menu li a,
.menu li a:hover {
  padding: 20px;
  color: black;
  font-size: 1.2rem;
}

.toggle-menu:checked + .hamburger {
  background-color: black;
  z-index: 4;
}

// Submenu Level 1

.submenu {
  position: absolute;
  width: 500px;
  display: none;
  background-color: white;
  border-radius: 5px;
}

.menu li:hover .submenu {
  display: block;
  animation: slideup 0.3s ease;
}

.menu li:hover img {
  transform: rotate(180deg);
}

.submenu {
  padding: 10px 5px;
  font-weight: 100;
}

.submenu li a {
  color: black;
}

// Animation Keyframes

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(18px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

// @keyframes slideleft {
//   0% {
//     opacity: 0;
//     transform: translateX(18px);
//   }
//   100% {
//     opacity: 1;
//     transform: none;
//   }
// }

// Hero
.hero {
  background-color: $themePurpleColour;
  padding: 25px;
}
.hero h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
}

.hero h1 span {
  color: rgb(236, 178, 46);
}

.hero p {
  color: white;
  text-align: center;
  padding: 20px 20px;
}

// Trust

.trust {
  background-color: $themeCreamColour;
}

.trust h3 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
}

.trust-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.trust-logos img {
  max-height: 30px;
  margin: 10px;
}

.logo {
  margin: 10px;
}

// .trust {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
// }

// Value Props

.background-cream {
  background-color: $themeCreamColour;
}

.background-white {
  background-color: white;
}

.value-prop,
.teams,
.percentages {
  padding: 20px;
  //   margin: 10px;
}

.value-prop h2 {
  font-size: 2rem;
  max-width: 500px;
  padding-bottom: 10px;
}

.value-prop p {
  line-height: 1.44;
  max-width: 500px;
  padding-bottom: 10px;
}
.value-prop a {
  margin-bottom: 1rem;
  cursor: pointer;
  border-bottom: none;
}

.container-right {
  display: flex;
  justify-content: flex-end;
  //   align-items: center;
}

.teams {
  text-align: center;
}

.teams h2 {
  font-size: 2rem;
  text-align: center;
}

.teams p {
  padding: 10px;
  margin: 10px;
  line-height: 1.44;
}

.teams .button-white {
}

.percentages {
  font-size: 2.3rem;
  text-align: center;
  color: $themePurpleColour;
  max-width: 200px;
  margin: 0 auto;
}
.percentages p {
  color: black;
  font-size: 12px;
  padding-bottom: 30px;
}

// .hero-video {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.video-container {
  position: relative;
}

.play-button {
  position: absolute;
  top: 35%;
  left: 250px;
  //   transform: translate(-50%, -250%);
  width: 80px;
  height: 80px;
  background: url(Images/blue_play_icon.svg) no-repeat center/cover;
  cursor: pointer;
}

// Testimonial

.testimonial {
  padding-top: 25px;
  margin: 25px;
  font-weight: 200;
}

.testimonial p {
  font-size: 1.5rem;
}

.matt-beal {
  padding-top: 10px;
  margin: 25px;
  padding-bottom: 10px;
}
.customer-stories {
  //   padding-top: 25px;
}

.container-two h2,
.container-two p,
.container-two a {
  padding: 20px;
}

.asterisk {
  color: grey;
  font-size: 14px;
}

.background-purple {
  background-color: $themePurpleColour;
  color: white;
  text-align: center;
  min-height: 370px;
  clip-path: ellipse(105% 100% at center top);
  padding-top: 5rem;
}

// Footer
footer {
  padding: 20px;
  margin: 10px;
}

footer img {
  margin-bottom: 30px;
}

footer.menu {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
}

// Footer Menu

footer ul li {
  list-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  //   height: 40px;
  //   position: relative;
}

footer ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

// Footer Submenu

.footer-submenu {
  display: none;
  //   position: absolute;
  text-decoration: none;
  //   background-color: white;
  //   left: 150px;
  border-radius: 5px;
  padding: 10px 5px;
  width: 100%;
}

.footer-menu li:hover .footer-submenu {
  display: block;
  animation: slideup 0.3s ease;
}

.footer-submenu li a {
  text-transform: inherit;
  text-decoration: none;
  color: black;
  list-style: none;
  font-weight: 100;
}

// Social Menu

.social-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.social-menu a {
  font-size: 28px;
  color: black;
  transition: transform 0.5s;
}

.social-menu a:hover {
  color: #1264a3;
  transform: scale(1.2);
}

// Media Queries

@media screen and (min-width: 767px) {
  .container-hero {
    flex-direction: row;
  }

  .hero h1 {
    max-width: 65%;
    text-align: left;
  }

  .hero p {
    text-align: left;
    max-width: 60%;
    padding: 20px 0px;
  }

  //   .button-white {
  //     max-width: 22rem;
  //   }

  .google-btn {
    // max-width: 22rem;
  }

  .btn-text {
    text-align: center;
    line-height: 50px;
  }

  .hero-video {
    display: flex;
    float: right;
    max-width: 700px;
    max-height: 386px;
    margin-left: 50px;
    // order: 2;
  }

  .social-menu {
    display: flex;
    justify-content: start;
  }
  .social-menu a {
    font-size: 18px;
    margin: 5px;
  }

  .footer-menu > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-menu > ul ul {
    display: block;
  }

  .footer-menu li:hover .footer-submenu {
    animation: none;
  }

  .footer-submenu {
    position: static;
  }
}

// When screen bigger than 900px: OR switch to 1070px ?
@media screen and (min-width: 1080px) {
  //   .header {
  //     display: flex;
  //     justify-content: flex-start;
  //   }

  //   body {
  //     display: flex;
  //     flex-direction: column;
  //     min-height: 100vh;
  //   }

  .logo {
    display: none;
  }
  .logo-white {
    display: block;
  }
  .logo-white a img {
    display: inline-block;
    height: 60px;
  }

  .button-purple-menu,
  .button-purple-menu {
    max-width: 50px;
  }

  //   .button-white,
  //   .google-btn {
  //     max-width: 40rem;
  //   }

  .hamburger,
  .toggle-menu {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    position: relative;
    right: 0;
    // height: 100%;
    // padding: 25px;
    background: $themePurpleColour;
    color: white;
    transition: none;
  }

  .menu-arrow {
    //   display: block;
    position: absolute;
    // right: 50%;
    top: 49%;
    width: 8px;
    margin-left: 2px;
    // height: 5px;
    // background-size: 8px 5px;
    background-position-y: center;
    transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    //   transform: translateY(-50%);
  }

  .menu li {
  }

  .navigation input {
    display: none;
  }

  .search-icon {
    display: none;
  }

  .button-purple-menu {
    min-width: 15%;
    text-transform: capitalize;
    border: none;
  }

  .button-white-menu {
    // min-width: 150px;
    width: auto;
  }

  .menu li a,
  .menu li a:hover {
    padding: 20px;
    color: white;
    font-size: 0.8rem;
  }

  .menu ul li a {
    color: black;
  }

  //   .hero-video {
  //     flex-direction: row;
  //     justify-content: space-between;
  //     align-items: flex-start;
  //     max-width: 40%;
  //   }
}
