* {
  padding: 0px;
  margin: 0px;
  font-family: "Inter", Helvetica;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}

.container-hero {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 16px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.customer-video {
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  max-height: 350px !important;
}

.video {
  max-width: 100%;
  max-height: 400px;
}

.arrow {
  width: 20px;
}

.button-white-menu {
  height: 45px;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  line-height: 1.28;
  margin-right: 1.25rem;
  margin-left: 0.5rem;
  display: block;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #611f69;
  background-color: white;
  color: #4a154b;
  border: 1px solid #4a154b;
}

.button-purple-menu {
  height: 45px;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  line-height: 1.28;
  margin-right: 1.25rem;
  margin-left: 0.5rem;
  display: block;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #611f69;
  background-color: #4a154b;
  color: white;
  border: 1px solid white;
}

.button-white {
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  line-height: 1.28;
  padding: 19px 40px 20px;
  display: block;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #611f69;
  width: 100%;
  background-color: white;
  color: #4a154b;
  border: 1px solid #4a154b;
}

.button-purple {
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  line-height: 1.28;
  padding: 19px 40px 20px;
  display: block;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #611f69;
  width: 100%;
  background-color: #4a154b;
  color: white;
  border: 1px solid white;
}

.google-btn {
  width: 100%;
  height: 50px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
  width: 40px;
  height: 41px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  text-align: center;
  line-height: 50px;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}

.header {
  padding: 15px 25px;
  transition: 0.3s;
  background-color: #4a154b;
}

.logo a {
  display: block;
}

.logo-white a img {
  display: inline-block;
  height: 60px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: -100%;
  background: white;
  width: 100%;
  height: 100%;
  padding: 25px;
  transition: right 0.3s ease;
  z-index: 3;
}

.menu li {
  list-style: none;
}

.menu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  font-size: 0.9rem;
  font-weight: 550;
  line-height: 1;
  transition: 0.3s;
}

.submenu li a:hover {
  text-decoration: underline;
}

.hamburger {
  position: relative;
  width: 20px;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 4;
  transition: background-color 0.3s, transform 0.3s;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  height: 3px;
  right: 0;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
}

.hamburger:before {
  top: -8px;
  width: 20px;
}

.hamburger:after {
  top: 8px;
  width: 20px;
}

.toggle-menu {
  position: absolute;
  right: 20px;
  width: 30px;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.search-icon {
  position: absolute;
  right: 45px;
  margin: 20px;
  height: 20px;
}

.navigation input:checked ~ .hamburger {
  background: transparent;
}

.navigation input:checked ~ .hamburger::before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
  background: black;
}

.navigation input:checked ~ .hamburger::after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
  background: black;
}

.navigation input:checked ~ .menu {
  right: 0;
}

.hamburger,
.toggle-menu {
  display: block;
}

.menu li a,
.menu li a:hover {
  padding: 20px;
  color: black;
  font-size: 1.2rem;
}

.toggle-menu:checked + .hamburger {
  background-color: black;
  z-index: 4;
}

.submenu {
  position: absolute;
  width: 500px;
  display: none;
  background-color: white;
  border-radius: 5px;
}

.menu li:hover .submenu {
  display: block;
  animation: slideup 0.3s ease;
}

.menu li:hover img {
  transform: rotate(180deg);
}

.submenu {
  padding: 10px 5px;
  font-weight: 100;
}

.submenu li a {
  color: black;
}

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(18px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.hero {
  background-color: #4a154b;
  padding: 25px;
}

.hero h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
}

.hero h1 span {
  color: rgb(236, 178, 46);
}

.hero p {
  color: white;
  text-align: center;
  padding: 20px 20px;
}

.trust {
  background-color: rgb(244, 237, 228);
}

.trust h3 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
}

.trust-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.trust-logos img {
  max-height: 30px;
  margin: 10px;
}

.logo {
  margin: 10px;
}

.background-cream {
  background-color: rgb(244, 237, 228);
}

.background-white {
  background-color: white;
}

.value-prop,
.teams,
.percentages {
  padding: 20px;
}

.value-prop h2 {
  font-size: 2rem;
  max-width: 500px;
  padding-bottom: 10px;
}

.value-prop p {
  line-height: 1.44;
  max-width: 500px;
  padding-bottom: 10px;
}

.value-prop a {
  margin-bottom: 1rem;
  cursor: pointer;
  border-bottom: none;
}

.container-right {
  display: flex;
  justify-content: flex-end;
}

.teams {
  text-align: center;
}

.teams h2 {
  font-size: 2rem;
  text-align: center;
}

.teams p {
  padding: 10px;
  margin: 10px;
  line-height: 1.44;
}

.percentages {
  font-size: 2.3rem;
  text-align: center;
  color: #4a154b;
  max-width: 200px;
  margin: 0 auto;
}

.percentages p {
  color: black;
  font-size: 12px;
  padding-bottom: 30px;
}

.video-container {
  position: relative;
}

.play-button {
  position: absolute;
  top: 35%;
  left: 250px;
  width: 80px;
  height: 80px;
  background: url(Images/blue_play_icon.svg) no-repeat center/cover;
  cursor: pointer;
}

.testimonial {
  padding-top: 25px;
  margin: 25px;
  font-weight: 200;
}

.testimonial p {
  font-size: 1.5rem;
}

.matt-beal {
  padding-top: 10px;
  margin: 25px;
  padding-bottom: 10px;
}

.container-two h2,
.container-two p,
.container-two a {
  padding: 20px;
}

.asterisk {
  color: grey;
  font-size: 14px;
}

.background-purple {
  background-color: #4a154b;
  color: white;
  text-align: center;
  min-height: 370px;
  -webkit-clip-path: ellipse(105% 100% at center top);
          clip-path: ellipse(105% 100% at center top);
  padding-top: 5rem;
}

footer {
  padding: 20px;
  margin: 10px;
}

footer img {
  margin-bottom: 30px;
}

footer.menu {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
}

footer ul li {
  list-style: none;
  font-weight: 700;
  font-size: 0.875rem;
}

footer ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.footer-submenu {
  display: none;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 5px;
  width: 100%;
}

.footer-menu li:hover .footer-submenu {
  display: block;
  animation: slideup 0.3s ease;
}

.footer-submenu li a {
  text-transform: inherit;
  text-decoration: none;
  color: black;
  list-style: none;
  font-weight: 100;
}

.social-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.social-menu a {
  font-size: 28px;
  color: black;
  transition: transform 0.5s;
}

.social-menu a:hover {
  color: #1264a3;
  transform: scale(1.2);
}

@media screen and (min-width: 767px) {
  .container-hero {
    flex-direction: row;
  }
  .hero h1 {
    max-width: 65%;
    text-align: left;
  }
  .hero p {
    text-align: left;
    max-width: 60%;
    padding: 20px 0px;
  }
  .btn-text {
    text-align: center;
    line-height: 50px;
  }
  .hero-video {
    display: flex;
    float: right;
    max-width: 700px;
    max-height: 386px;
    margin-left: 50px;
  }
  .social-menu {
    display: flex;
    justify-content: start;
  }
  .social-menu a {
    font-size: 18px;
    margin: 5px;
  }
  .footer-menu > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-menu > ul ul {
    display: block;
  }
  .footer-menu li:hover .footer-submenu {
    animation: none;
  }
  .footer-submenu {
    position: static;
  }
}
@media screen and (min-width: 1080px) {
  .logo {
    display: none;
  }
  .logo-white {
    display: block;
  }
  .logo-white a img {
    display: inline-block;
    height: 60px;
  }
  .button-purple-menu,
  .button-purple-menu {
    max-width: 50px;
  }
  .hamburger,
  .toggle-menu {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    position: relative;
    right: 0;
    background: #4a154b;
    color: white;
    transition: none;
  }
  .menu-arrow {
    position: absolute;
    top: 49%;
    width: 8px;
    margin-left: 2px;
    background-position-y: center;
    transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .navigation input {
    display: none;
  }
  .search-icon {
    display: none;
  }
  .button-purple-menu {
    min-width: 15%;
    text-transform: capitalize;
    border: none;
  }
  .button-white-menu {
    width: auto;
  }
  .menu li a,
  .menu li a:hover {
    padding: 20px;
    color: white;
    font-size: 0.8rem;
  }
  .menu ul li a {
    color: black;
  }
}/*# sourceMappingURL=styles.css.map */